body {
	font-size: 16px;
	color: #000080;
	background-color: #f5dead;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
 	background-color: #ffa07a;
  	border-radius: 0;
  	border: 0;
  	padding-bottom: 15px;
  	
}
.navbar-brand {
	padding-top: 30px;
}
.navbar-brand h1 { /*Restaurant name*/
	font-family: 'Quicksand', sans-serif;
	color: #000080;
	font-size: 1.5em
	font-weight: bold;
	text-shadow: 1px 1px 1px #200;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .20;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000080;
  text-align: center;
}
#nav-list a:hover {
  background: #ffe4e1;
}
#nav-list a span {
  font-size: 1.5em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000080;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
/* Home Page*/
.text-center {
	font-size: 25px;
  font-weight: bold;
}

#tall-tile {
	height: 1000px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid;
	overflow: hidden;
	background-color: #ff1493;
	padding: 15px;
}
#menu-title {
	text-align: center;
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 25px;
    font-size: 5vw;
  }
 
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.5em;
  }
 
